In this lab, we will
- read our project data into a Pandas DataFrame
- write a function to compute simple features for each row of the data frame
- fit a LogisticRegression model to the data
- print the top coefficients
- compute measures of accuracy

I've given you starter code below. You should:
- First, try to get it to work with your data. It may require changing the load_data file to match the requirements of your data (e.g., what is the object you are classifying -- a tweet, a user, a news article?)
- Second, you should add additional features to the make_features function:
  - Be creative. It could be additional word features, or other meta data about the user, date, etc.
- As you try out different feature combinations, print out the coefficients and accuracy scores
- List any features that seem to improve accuracy. Why do you think that is?

In [36]:
from collections import Counter
import numpy as np
import pandas as pd
import re
from sklearn.linear_model import LogisticRegression
from sklearn.feature_extraction import DictVectorizer

In [69]:
def load_data(datafile, checkfile):
    """
    Read your data into a single pandas dataframe where
    - each row is an instance to be classified
    
    (this could be a tweet, user, or news article, depending on your project)
    - there is a column called `label` which stores the class label (e.g., the true
      category for this row)
    """
    df = pd.read_csv(datafile)[['social_id','comment_tokens']]
    ck = pd.read_csv(checkfile)
    
    ck = ck.loc[ck['site'] == 'twitter', ['site', 'social_id', 'ruling_val']]
    
    
    ck['social_id'] = ck['social_id'].astype(df['social_id'].dtype)
    
    df.columns = ['id', 'text']
    df = df.drop_duplicates(['id','text'])
    ck.columns = ['site','id','label']
#     ck['label'] = [i.lower() for i in ck.label]
    df = pd.merge(ck,df,on=['id'],how = 'inner')
    return df

df = load_data('..\\..\\training_data\\twitter.csv', '..\\..\\training_data\\factchecks.csv')
df.head()

,site,id,label,text
0,twitter,920307162278236160,-2.0,rt @allisonpohle : o-h-i-no ! this story wasn'...
1,twitter,920464477388029952,-2.0,"rt @theellenshow : tomorrow , the first people..."
2,twitter,918272604410122240,-2.0,rt @lauraloomer : investigative journalist lau...
3,twitter,918689132137791488,-2.0,rt @lauraloomer : #jesuscampos be miss ? laura...
4,twitter,913244272643653632,-2.0,rt @tacticalpoet84 : urlref\nfollow-up from my...

In [70]:
# what is the distribution over class labels?
df.label.value_counts()

-2.0    650
 0.0    201
-1.0    176
 2.0    141
 1.0     89
Name: label, dtype: int64

In [93]:
def tweet_tokenizer(s):
    s = re.sub(r'#(\S+)', r'HASHTAG_\1', s)
    s = re.sub(r'@(\S+)', r'MENTION_\1', s)
    s = re.sub(r'http\S+', 'THIS_IS_A_URL', s)
    return re.sub('\W+', ' ', s.lower()).split()

def counters(d):
    counts = Counter()  # handy object: dict from object -> int
    counts.update(d)
    return counts

tokens = [token for tweet in df['text'] for token in tweet_tokenizer(tweet)]
counts = counters(tokens)
words_to_track = [i[0] for i in counts.most_common(70)]
words_to_track = words_to_track[30:60]

In [94]:
def make_features(df):
    vec = DictVectorizer()
    feature_dicts = []
    # just as an initial example, we will consider three
    # word features in the model.
#     words_to_track = ['think', 'today', 'people'，'president', ]
    for i, row in df.iterrows():
        features = {}
        token_counts = Counter(re.sub('\W+', ' ', row['text'].lower()).split())
        for w in words_to_track:
            features[w] = token_counts[w]
        feature_dicts.append(features)
    X = vec.fit_transform(feature_dicts)
    return X, vec
                
X, vec = make_features(df)

In [95]:
# what are dimensions of the feature matrix?
X.shape

(1257, 30)

In [96]:
# what are the feature names?
# vocabulary_ is a dict from feature name to column index
vec.vocabulary_

{'about': 0,
 'all': 1,
 'an': 2,
 'but': 3,
 'by': 4,
 'from': 5,
 'get': 6,
 'go': 7,
 'his': 8,
 'if': 9,
 'just': 10,
 'make': 11,
 'me': 12,
 'more': 13,
 'my': 14,
 'obama': 15,
 'one': 16,
 'our': 17,
 'out': 18,
 'people': 19,
 'say': 20,
 'should': 21,
 'take': 22,
 'than': 23,
 'they': 24,
 'u': 25,
 'up': 26,
 'what': 27,
 'will': 28,
 'would': 29}

In [97]:
# how often does each word occur?
for word, idx in vec.vocabulary_.items():
    print('%20s\t%d' % (word, X[:,idx].sum()))

                  my	82
                   u	80
                from	79
                  by	79
                 say	79
                they	73
                 our	66
                  if	64
                more	64
              people	63
               about	63
                  an	62
                 his	60
                will	60
                 but	57
                just	56
                what	55
               would	55
                 get	54
               obama	54
                  go	52
                 all	51
                 out	48
                take	48
                 one	47
                  up	46
                  me	46
                make	45
                than	45
              should	44

In [98]:
# can also get a simple list of feature names:
vec.get_feature_names()
# e.g., first column is 'hate', second is 'love', etc.

['about',
 'all',
 'an',
 'but',
 'by',
 'from',
 'get',
 'go',
 'his',
 'if',
 'just',
 'make',
 'me',
 'more',
 'my',
 'obama',
 'one',
 'our',
 'out',
 'people',
 'say',
 'should',
 'take',
 'than',
 'they',
 'u',
 'up',
 'what',
 'will',
 'would']

In [99]:
# we'll first store the classes separately in a numpy array
y = np.array(df.label)
Counter(y)

Counter({-2.0: 650, -1.0: 176, 0.0: 201, 1.0: 89, 2.0: 141})

In [100]:
# to find the row indices with hostile label
np.where(y==0.0)[0]

array([ 826,  827,  828,  829,  830,  831,  832,  833,  834,  835,  836,
        837,  838,  839,  840,  841,  842,  843,  844,  845,  846,  847,
        848,  849,  850,  851,  852,  853,  854,  855,  856,  857,  858,
        859,  860,  861,  862,  863,  864,  865,  866,  867,  868,  869,
        870,  871,  872,  873,  874,  875,  876,  877,  878,  879,  880,
        881,  882,  884,  885,  886,  887,  888,  889,  890,  891,  892,
        893,  894,  895,  896,  897,  898,  899,  900,  901,  902,  903,
        904,  905,  906,  907,  908,  909,  910,  911,  912,  913,  914,
        915,  916,  917,  918,  919,  920,  921,  922,  923,  924,  925,
        926,  927,  928,  929,  930,  931,  932,  933,  934,  935,  936,
        937,  938,  939,  940,  941,  942,  943,  944,  945,  946,  947,
        948,  949,  950,  951,  952,  953,  954,  955,  956,  957,  958,
        959,  960,  961,  962,  963,  964,  965,  966,  967,  968,  969,
        970,  971,  972,  973,  974,  975,  976,  977,  978,  979,  980,
        981,  982,  983,  984,  985,  986,  987,  988,  989,  990,  991,
        992,  993,  994,  995,  996,  997,  998,  999, 1000, 1001, 1002,
       1003, 1004, 1005, 1006, 1007, 1008, 1009, 1010, 1011, 1012, 1013,
       1014, 1015, 1016, 1017, 1018, 1019, 1020, 1021, 1022, 1023, 1024,
       1025, 1026, 1027], dtype=int64)

In [101]:
# store the class names
class_names = set(df.label)

In [102]:
# how often does each word appear in each class?
for word, idx in vec.vocabulary_.items():
    for class_name in class_names:
        class_idx = np.where(y==class_name)[0]
        print('%20s\t%20s\t%d' % (word, class_name, X[class_idx, idx].sum()))

                  my	                 0.0	18
                  my	                 1.0	1
                  my	                 2.0	6
                  my	                -1.0	8
                  my	                -2.0	49
                   u	                 0.0	12
                   u	                 1.0	17
                   u	                 2.0	1
                   u	                -1.0	13
                   u	                -2.0	37
                from	                 0.0	11
                from	                 1.0	5
                from	                 2.0	14
                from	                -1.0	12
                from	                -2.0	37
                  by	                 0.0	11
                  by	                 1.0	8
                  by	                 2.0	12
                  by	                -1.0	14
                  by	                -2.0	34
                 say	                 0.0	9
                 say	                 1.0	6
                 say	                 2.0	8
                 say	                -1.0	11
                 say	                -2.0	45
                they	                 0.0	18
                they	                 1.0	7
                they	                 2.0	3
                they	                -1.0	11
                they	                -2.0	34
                 our	                 0.0	13
                 our	                 1.0	5
                 our	                 2.0	9
                 our	                -1.0	11
                 our	                -2.0	28
                  if	                 0.0	13
                  if	                 1.0	2
                  if	                 2.0	7
                  if	                -1.0	13
                  if	                -2.0	29
                more	                 0.0	12
                more	                 1.0	13
                more	                 2.0	10
                more	                -1.0	7
                more	                -2.0	22
              people	                 0.0	6
              people	                 1.0	4
              people	                 2.0	12
              people	                -1.0	6
              people	                -2.0	35
               about	                 0.0	4
               about	                 1.0	4
               about	                 2.0	7
               about	                -1.0	6
               about	                -2.0	42
                  an	                 0.0	5
                  an	                 1.0	6
                  an	                 2.0	2
                  an	                -1.0	9
                  an	                -2.0	40
                 his	                 0.0	11
                 his	                 1.0	3
                 his	                 2.0	5
                 his	                -1.0	8
                 his	                -2.0	33
                will	                 0.0	7
                will	                 1.0	7
                will	                 2.0	7
                will	                -1.0	6
                will	                -2.0	33
                 but	                 0.0	11
                 but	                 1.0	3
                 but	                 2.0	7
                 but	                -1.0	8
                 but	                -2.0	28
                just	                 0.0	6
                just	                 1.0	4
                just	                 2.0	7
                just	                -1.0	7
                just	                -2.0	32
                what	                 0.0	5
                what	                 1.0	5
                what	                 2.0	3
                what	                -1.0	14
                what	                -2.0	28
               would	                 0.0	8
               would	                 1.0	6
               would	                 2.0	4
               would	                -1.0	7
               would	                -2.0	30
                 get	                 0.0	7
                 get	                 1.0	3
                 get	                 2.0	1
                 get	                -1.0	11
                 get	                -2.0	32
               obama	                 0.0	6
               obama	                 1.0	9
               obama	                 2.0	5
               obama	                -1.0	10
               obama	                -2.0	24
                  go	                 0.0	6
                  go	                 1.0	2
                  go	                 2.0	5
                  go	                -1.0	10
                  go	                -2.0	29
                 all	                 0.0	5
                 all	                 1.0	5
                 all	                 2.0	6
                 all	                -1.0	5
                 all	                -2.0	30
                 out	                 0.0	6
                 out	                 1.0	1
                 out	                 2.0	6
                 out	                -1.0	5
                 out	                -2.0	30
                take	                 0.0	11
                take	                 1.0	2
                take	                 2.0	6
                take	                -1.0	10
                take	                -2.0	19
                 one	                 0.0	6
                 one	                 1.0	4
                 one	                 2.0	8
                 one	                -1.0	8
                 one	                -2.0	21
                  up	                 0.0	10
                  up	                 1.0	4
                  up	                 2.0	5
                  up	                -1.0	8
                  up	                -2.0	19
                  me	                 0.0	13
                  me	                 1.0	1
                  me	                 2.0	6
                  me	                -1.0	2
                  me	                -2.0	24
                make	                 0.0	13
                make	                 1.0	4
                make	                 2.0	5
                make	                -1.0	4
                make	                -2.0	19
                than	                 0.0	10
                than	                 1.0	14
                than	                 2.0	7
                than	                -1.0	4
                than	                -2.0	10
              should	                 0.0	7
              should	                 1.0	3
              should	                 2.0	6
              should	                -1.0	8
              should	                -2.0	20

So, `you` appears more frequently in positive (hostile) class, and `love` appears more frequently in the negative (non-hostile) class.

In [106]:
# fit a LogisticRegression classifier.
clf = LogisticRegression(solver='lbfgs', multi_class='multinomial')
clf.fit(X, y)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
          intercept_scaling=1, max_iter=100, multi_class='multinomial',
          n_jobs=1, penalty='l2', random_state=None, solver='lbfgs',
          tol=0.0001, verbose=0, warm_start=False)

In [107]:
# for binary classification, LogisticRegression stores a single coefficient vector
clf.coef_
# this would be a matrix for a multi-class probem.

array([[ 4.66264586e-01,  2.18832168e-01,  4.30355060e-01,
        -6.87737434e-02, -2.98443577e-01, -6.44924736e-02,
         4.49855891e-01,  1.85887022e-01,  5.40971027e-02,
        -1.85057366e-01,  6.52555348e-02, -1.75669454e-01,
         1.17144906e-01, -1.13060551e-01,  3.56406255e-01,
        -1.86299058e-01, -2.61485205e-01, -2.02570081e-01,
         3.46517894e-01,  1.52334089e-01,  1.03367641e-01,
        -1.79569278e-01, -3.42108893e-01, -8.33473442e-01,
        -6.82376290e-02, -5.02439352e-02, -3.24118046e-01,
        -8.04844260e-03,  7.25513050e-02,  1.08527476e-01],
       [-1.78385802e-01, -2.85199417e-01,  1.57857473e-01,
         2.74415140e-02,  1.05392800e-01,  4.68731907e-02,
         5.17749842e-01,  3.62592283e-01,  2.89923932e-02,
         2.97060486e-01, -3.91642852e-02, -3.29485105e-01,
        -6.15299110e-01, -1.42563528e-01, -1.90914969e-02,
         1.42745390e-01,  9.19296707e-02,  5.20251790e-02,
        -7.67960678e-02, -1.70918048e-01,  9.52550017e-03,
         6.89788442e-02,  3.08925809e-01, -4.04516871e-01,
         4.61071862e-02,  2.05741359e-01,  4.83640789e-02,
         6.54597477e-01, -3.03036164e-01, -2.15438898e-01],
       [-5.66699030e-01, -3.47385030e-01, -4.39238184e-01,
         2.24935322e-01, -1.87656978e-01, -1.70492159e-01,
        -7.99455846e-02, -2.43039622e-01,  2.16972092e-01,
         2.94663664e-01, -2.32703524e-01,  3.93954803e-01,
         6.13274743e-01, -7.82188370e-02,  4.90573320e-01,
        -2.89096315e-01, -2.53635393e-01,  6.81909216e-02,
        -9.14968684e-02, -3.17918812e-01, -2.95378774e-01,
        -6.48871810e-02,  2.51581022e-01,  2.15307339e-01,
         4.02827077e-01,  5.86310456e-03,  2.10810416e-01,
        -3.90823720e-01, -2.13692617e-01, -1.19233544e-01],
       [ 7.65347873e-02,  3.03181196e-01,  5.95621709e-01,
        -3.91474810e-01,  1.94439384e-01, -1.73340629e-01,
         3.67224445e-03, -3.46678532e-01, -1.25167320e-01,
        -5.77183330e-01,  9.18440958e-02,  1.78250028e-02,
        -3.79984013e-01,  2.48170089e-01, -6.86203795e-01,
         6.53497165e-01,  1.92782205e-01,  5.88813530e-02,
        -4.04478895e-01, -1.51614461e-01,  1.71467225e-01,
        -5.48219782e-02, -2.51418633e-01,  9.89589263e-01,
         2.92433014e-01,  1.10087941e+00,  1.79742286e-01,
         1.66190845e-01,  4.43104485e-01,  4.75596907e-01],
       [ 2.02285459e-01,  1.10571082e-01, -7.44596058e-01,
         2.07871717e-01,  1.86268371e-01,  3.61452070e-01,
        -8.91332393e-01,  4.12388488e-02, -1.74894268e-01,
         1.70516546e-01,  1.14768178e-01,  9.33747533e-02,
         2.64863474e-01,  8.56728273e-02, -1.41684283e-01,
        -3.20847181e-01,  2.30408722e-01,  2.34726277e-02,
         2.26253936e-01,  4.88117233e-01,  1.10184077e-02,
         2.30299593e-01,  3.30206945e-02,  3.30937101e-02,
        -6.73129649e-01, -1.26223994e+00, -1.14798735e-01,
        -4.21916159e-01,  1.07298997e-03, -2.49451940e-01]])

In [108]:
# for binary classification, the coefficients for the negative class is just the negative of the positive class.
coef = clf.coef_
print(coef)

[[ 4.66264586e-01  2.18832168e-01  4.30355060e-01 -6.87737434e-02
  -2.98443577e-01 -6.44924736e-02  4.49855891e-01  1.85887022e-01
   5.40971027e-02 -1.85057366e-01  6.52555348e-02 -1.75669454e-01
   1.17144906e-01 -1.13060551e-01  3.56406255e-01 -1.86299058e-01
  -2.61485205e-01 -2.02570081e-01  3.46517894e-01  1.52334089e-01
   1.03367641e-01 -1.79569278e-01 -3.42108893e-01 -8.33473442e-01
  -6.82376290e-02 -5.02439352e-02 -3.24118046e-01 -8.04844260e-03
   7.25513050e-02  1.08527476e-01]
 [-1.78385802e-01 -2.85199417e-01  1.57857473e-01  2.74415140e-02
   1.05392800e-01  4.68731907e-02  5.17749842e-01  3.62592283e-01
   2.89923932e-02  2.97060486e-01 -3.91642852e-02 -3.29485105e-01
  -6.15299110e-01 -1.42563528e-01 -1.90914969e-02  1.42745390e-01
   9.19296707e-02  5.20251790e-02 -7.67960678e-02 -1.70918048e-01
   9.52550017e-03  6.89788442e-02  3.08925809e-01 -4.04516871e-01
   4.61071862e-02  2.05741359e-01  4.83640789e-02  6.54597477e-01
  -3.03036164e-01 -2.15438898e-01]
 [-5.66699030e-01 -3.47385030e-01 -4.39238184e-01  2.24935322e-01
  -1.87656978e-01 -1.70492159e-01 -7.99455846e-02 -2.43039622e-01
   2.16972092e-01  2.94663664e-01 -2.32703524e-01  3.93954803e-01
   6.13274743e-01 -7.82188370e-02  4.90573320e-01 -2.89096315e-01
  -2.53635393e-01  6.81909216e-02 -9.14968684e-02 -3.17918812e-01
  -2.95378774e-01 -6.48871810e-02  2.51581022e-01  2.15307339e-01
   4.02827077e-01  5.86310456e-03  2.10810416e-01 -3.90823720e-01
  -2.13692617e-01 -1.19233544e-01]
 [ 7.65347873e-02  3.03181196e-01  5.95621709e-01 -3.91474810e-01
   1.94439384e-01 -1.73340629e-01  3.67224445e-03 -3.46678532e-01
  -1.25167320e-01 -5.77183330e-01  9.18440958e-02  1.78250028e-02
  -3.79984013e-01  2.48170089e-01 -6.86203795e-01  6.53497165e-01
   1.92782205e-01  5.88813530e-02 -4.04478895e-01 -1.51614461e-01
   1.71467225e-01 -5.48219782e-02 -2.51418633e-01  9.89589263e-01
   2.92433014e-01  1.10087941e+00  1.79742286e-01  1.66190845e-01
   4.43104485e-01  4.75596907e-01]
 [ 2.02285459e-01  1.10571082e-01 -7.44596058e-01  2.07871717e-01
   1.86268371e-01  3.61452070e-01 -8.91332393e-01  4.12388488e-02
  -1.74894268e-01  1.70516546e-01  1.14768178e-01  9.33747533e-02
   2.64863474e-01  8.56728273e-02 -1.41684283e-01 -3.20847181e-01
   2.30408722e-01  2.34726277e-02  2.26253936e-01  4.88117233e-01
   1.10184077e-02  2.30299593e-01  3.30206945e-02  3.30937101e-02
  -6.73129649e-01 -1.26223994e+00 -1.14798735e-01 -4.21916159e-01
   1.07298997e-03 -2.49451940e-01]]

In [109]:
for ci, class_name in enumerate(clf.classes_):
    print('coefficients for %s' % class_name)
    display(pd.DataFrame([coef[ci]], columns=vec.get_feature_names()))

coefficients for -2.0

,about,all,an,but,by,from,get,go,his,if,...,say,should,take,than,they,u,up,what,will,would
0,0.466265,0.218832,0.430355,-0.068774,-0.298444,-0.064492,0.449856,0.185887,0.054097,-0.185057,...,0.103368,-0.179569,-0.342109,-0.833473,-0.068238,-0.050244,-0.324118,-0.008048,0.072551,0.108527

coefficients for -1.0

,about,all,an,but,by,from,get,go,his,if,...,say,should,take,than,they,u,up,what,will,would
0,-0.178386,-0.285199,0.157857,0.027442,0.105393,0.046873,0.51775,0.362592,0.028992,0.29706,...,0.009526,0.068979,0.308926,-0.404517,0.046107,0.205741,0.048364,0.654597,-0.303036,-0.215439

coefficients for 0.0

,about,all,an,but,by,from,get,go,his,if,...,say,should,take,than,they,u,up,what,will,would
0,-0.566699,-0.347385,-0.439238,0.224935,-0.187657,-0.170492,-0.079946,-0.24304,0.216972,0.294664,...,-0.295379,-0.064887,0.251581,0.215307,0.402827,0.005863,0.21081,-0.390824,-0.213693,-0.119234

coefficients for 1.0

,about,all,an,but,by,from,get,go,his,if,...,say,should,take,than,they,u,up,what,will,would
0,0.076535,0.303181,0.595622,-0.391475,0.194439,-0.173341,0.003672,-0.346679,-0.125167,-0.577183,...,0.171467,-0.054822,-0.251419,0.989589,0.292433,1.100879,0.179742,0.166191,0.443104,0.475597

coefficients for 2.0

,about,all,an,but,by,from,get,go,his,if,...,say,should,take,than,they,u,up,what,will,would
0,0.202285,0.110571,-0.744596,0.207872,0.186268,0.361452,-0.891332,0.041239,-0.174894,0.170517,...,0.011018,0.2303,0.033021,0.033094,-0.67313,-1.26224,-0.114799,-0.421916,0.001073,-0.249452

In [118]:
from sklearn.model_selection import KFold
from sklearn.metrics import accuracy_score
kf = KFold(n_splits=5, shuffle=True, random_state=42)
accuracies = []
for train, test in kf.split(X):
   clf.fit(X[train], y[train])
   pred = clf.predict(X[test])
   accuracies.append(accuracy_score(y[test], pred))
print('accuracy over all cross-validation folds: %s' % str(accuracies))
print('mean=%.2f std=%.2f' % (np.mean(accuracies), np.std(accuracies)))

accuracy over all cross-validation folds: [0.5515873015873016, 0.5119047619047619, 0.5219123505976095, 0.50199203187251, 0.4900398406374502]
mean=0.52 std=0.02